<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ansible Testing Apache Web Server - {{ variablel }} </title>
    </head>
    <body>
        Proyek Akhir Kampus Merdeka - {{ inventory_hostname }}
    </body>
</html>